@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


body{
    min-height:100vh;
    background:radial-gradient(circle at bottom,#BAD8B6,#8D77AB);
    overflow-x:hidden;
    color:#fff;
    position:relative;
}

body::before{
    content:"";
    position:absolute;
    inset:0;
    background:url('https://cdn.pixabay.com/photo/2020/02/23/17/59/landscape-4876811_1280.png')
    no-repeat center/cover;
    opacity:0.65;
    z-index:-1;
}
.box{
    width:330px; /* diperkecil */
    padding:30px;
    border:2px solid rgba(255,255,255,0.2);
    border-radius:18px;
    backdrop-filter:blur(14px);
    background:rgba(255,255,255,0.1);
    box-shadow:0 0 35px rgba(180,100,255,0.55);
    margin:120px auto 60px;
    animation:fadeInUp .8s ease forwards;
}

h2{
    text-align:center;
    margin-bottom:20px;
    text-shadow:0 0 15px rgba(255,255,255,0.5);
}

input, button, select, textarea{
    width:100%;
    padding:10px;
    border:none;
    border-radius:18px;
    margin:6px 0;
    outline:none;
}

input, select, textarea{
    background:rgba(255,255,255,0.2);
    color:#fff;
    border:2px solid rgba(255,255,255,0.3);
}

input::placeholder{
    color:#ddd;
}

input:focus, select:focus, textarea:focus{
    background:rgba(255,255,255,0.3);
    box-shadow:0 0 12px #b366ff;
}

button{
    background:linear-gradient(85deg,#BAD8B6,#8D77AB);
    color:#fff;
    font-weight:500;
    cursor:pointer;
    box-shadow:0 0 25px rgba(190,100,255,0.6);
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    box-shadow:0 0 35px rgba(223,129,255,0.9);
}